/* === PARALLAX BANNER === */

.parallax-banner {
    z-index: -1;
    height: 95vh;
    justify-content: center;
    align-items: center;
    transform: translateZ(-1px) scale(2.01);
    background-color: var(--bg-black);
}

.image-banner {
    position: absolute;
    height: 100vh;
    object-fit: cover;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.carousel-banner {
    z-index: 0;
}

.carousel-banner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.carousel-banner img {
    z-index: -1;
}

.is-showing {
    opacity: 1;
}

.logo-banner p {
    position: relative;
    text-align: center;
    color: white;
}

.logo-banner img {
    position: relative;
    width: 40em;
}

.logo-banner {
    max-width: 800px;
    margin: 0 auto;
    padding: 75px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    justify-content: space-around;
}


/* === PARALLAX BANNER === */