.l-section {
    position: relative;
    background-color: var(--color-black);
    display: flex;
    align-items: center;
}


/*Sizes*/

.l-section.-medium {
    min-height: 50vh;
}

.l-section.-large {
    min-height: 75vh;
}

.l-section.-full {
    min-height: 100vh;
}


/*Backgrunds*/

.l-section.-bg-1 {
    background-image: url("../../image/bg-parallax/image-3.jpg");
}

.l-section.-bg-2 {
    background-image: url("../../image/bg-parallax/image-5.jpg");
}


/*Parallax*/

.l-section.-parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.l-section.-parallax::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.-parallax.-parallax-gradient::before {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5) 10%);
}