.c-button {
    font-size: var(--step--1);
    font-weight: var(--font-weight-bold);
    padding: 5px 15px 5px 15px;
    border-radius: var(--radius-extra-large);
    margin: 10px;
}

.c-button:hover {
    cursor: pointer;
}

.c-button.-large {
    padding: 5px 135px;
}

@media screen and (max-width: 1023px) {
    .c-button.-large {
        padding: 5px 50px;
    }
}