%c-card {
    background-color: var(--color-grey-2);
    color: var(--color-text-primary);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.c-card {
    @extend %c-card;
    align-items: center;
    margin: 0.5rem 0;
    max-width: var(--is-medium);
    &__image {
        padding: var(--space-2xs);
        overflow: hidden;
    }
    &__date {
        max-height: 172.5px;
        padding: var(--space-2xs);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__day {
            display: flex;
            max-height: 100px;
            max-block-size: var(--step-5);
            align-items: center;
            justify-content: center;
        }
        &__month {
            max-height: 50px;
            display: flex;
            max-block-size: var(--step-4);
        }
    }
    &__description {
        @extend %c-card;
        flex-direction: column;
        padding: var(--space-2xs);
        max-width: 500px;
    }
    &__action {
        padding: var(--space-2xs);
    }
    @media screen and (max-width: 1023px) {
        & {
            flex-direction: column;
        }
        &__description {
            text-align: center;
            justify-content: center;
        }
    }
}