%container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.c-section-container {
    @extend %container;
    max-width: var(--is-medium);
    padding: 75px 25px;
}

.c-content {
    @extend %container;
    flex-wrap: wrap;
    &.-horizontal {
        flex-direction: row;
    }
}

.c-box {
    @extend %container;
    border-radius: var(--radius-large);
    border: 1px solid var(--color-white);
    margin: var(--space-xs);
    padding: 75px 25px;
    text-align: center;
}