.c-container,
.c-content,
.c-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.c-container {
    padding: 75px 25px;
    max-width: var(--is-medium);
}

.c-content {
    flex-wrap: wrap;
}

.c-content.-horizontal {
    flex-direction: row;
}

.c-box {
    text-align: center;
    margin: var(--space-xs);
    padding: 75px 25px;
    border-radius: var(--radius-large);
    border: 1px solid var(--color-white);
}

.c-content.-item {
    padding: 0;
}

.c-content.-medium {
    min-height: 50vh;
}

.c-content.-large {
    min-height: 75vh;
}

.c-content.-full {
    min-height: 100vh;
}