.c-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 75px 25px;
    display: flex;
    align-items: center;
    z-index: 1;
}

.c-content p {
    color: white;
}

.c-content.c-content--mid-height {
    min-height: 50vh;
}

.c-content.c-content--big-height {
    min-height: 75vh;
}

.c-content.c-content--full-height {
    min-height: 100vh;
}