.c-iframe {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    width: 100vw;
    margin: var(--space-s) 0 var(--space-s) 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
    @media screen and (min-width: 1023px) {
        width: 75vw;
    }
}