@use "../01_settings/breakpoint" as size;
%c-scope-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: size.$widescreen;
}

.c-section {
    @extend %c-scope-section;
    padding-bottom: var(--space-2xl);
    padding-top: var(--space-2xl);
}