%c-scope-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.c-section {
    @extend %c-sccope-section;
    padding-bottom: var(--space-2xl);
    padding-top: var(--space-2xl);
    &.-w {
        &-medium {
            max-width: var(--is-medium);
        }
    }
}