.l-parallax.l-parallax--gradient::before {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5) 10%);
}

.l-parallax.l-parallax--bg-1 {
    background-image: url("../../image/bg-parallax/image-3.jpg");
}

.l-parallax.l-parallax--bg-2 {
    background-image: url("../../image/bg-parallax/image-5.jpg");
}